<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание задания</title>
    <link rel="stylesheet" href="file:///C:/regForm/style/reg.css">
</head>
<body>
    <main>
        <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Создать</button>
        </form>
    </main>

</body></html>